<div class="row mt-2 mb-4">
    <div class="col">
        <div class="card px-3 py-3">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <img src="/img/distinct-logo.png" style="width: 100px;" alt="Distinct Logo">
        
                    <div class="align-self-center mb-3" style="line-height: 2px;">
                        <h2>Distinct</h2>
                        <a href="https://becomedistinct.com" target="_blank">becomedistinct.com</a>
                    </div>
                </div>
                <div class="align-self-center mx-3">
                    <button class="btn btn-primary" style="width: 120px;">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Billing & Invoice</h2>

<div class="row mt-3 mb-3">
    <div class="col mb-3">
        <table class="table table-borderless table-hover align-middle" style="height: 250px;">
            <thead class="bg-primary text-light align-middle" style="height: 3.9rem;">
                <tr>
                    <th scope="col" class="lead ps-4">Project Name</th>
                    <th scope="col" class="lead">Unit Cost</th>
                    <th scope="col" class="lead">Hour Rate</th>
                    <th scope="col" class="lead">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ps-4"><strong>DI-101</strong><br>Lorem ipsum dolor sit.</td>
                    <td>$1000</td>
                    <td>$10</td>
                    <td>$3000.25</td>
                </tr>
                <tr>
                    <td class="ps-4"><strong>DI-102</strong><br>Lorem ipsum dolor sit amet..</td>
                    <td>$600</td>
                    <td>$10</td>
                    <td>$1200.50</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-3 mb-5">
    <div class="col mb-3">
        <table class="table table-borderless table-hover align-middle" style="height: 160px;">
            <thead class="bg-primary text-light align-middle" style="height: 3.9rem;">
                <tr>
                    <th scope="col" class="lead ps-4">Amount Due</th>
                    <th scope="col" class="lead">Due Date</th>
                    <th scope="col" class="lead">Status</th>
                    <th scope="col" class="lead"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ps-4">$91.00</td>
                    <td>01 July 2022</td>
                    <td>Pending</td>
                    <td class="text-end pe-4"><button class="btn btn-primary" style="width: 160px;">Make a Payment</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-3">
    <div class="col mb-4">
        <div class="w-100 bg-primary text-light py-3">
            <div class="lead ms-4">Referral Link</div>
        </div>
        <div class="card card-body pt-4 px-5">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="workdrivefolderurl" class="form-label mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, inventore architecto veniam ad quas quia consectetur nulla? Cum reiciendis consequuntur eius eveniet accusamus veniam nihil nam error aut vero, aspernatur quidem! Vitae ducimus eius iusto ad, alias modi nihil, ut repellat tempore, sit deleniti? Dignissimos omnis quam culpa voluptate asperiores.</label>
                        <div class="input-group">
                            <input type="url" aria-label="Referral Link" class="form-control" id="referrallink" value="https://referrallink.com/distinct-0123456789" readonly>
                            <span class="input-group-text" id="copy" style="cursor: pointer;"><i class='bx bx-copy' style="font-size: 1.5rem;"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>