<div class="row mt-2">
    <div class="card py-2">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <img src="/img/distinct-logo.png" style="width: 100px;" alt="Distinct Logo">
    
                <div class="align-self-center">
                    <h2>Distinct</h2>
                    <a href="https://becomedistinct.com" target="_blank">becomedistinct.com</a>
                </div>
            </div>

            <div class="align-self-center mx-3">
                <button class="btn btn-primary">Edit Profile</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="d-flex justify-content-end">
        <select class="form-select rounded" style="width: 160px;" aria-label="Days">
            <option value="1">Yesterday</option>
            <option value="2" selected>Last 7 Days</option>
            <option value="3">Last Month</option>
        </select>
    </div>
</div>