<div class="row mt-2">
    <div class="col">
        <div class="card py-2">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <img src="/img/distinct-logo.png" style="width: 100px;" alt="Distinct Logo">
        
                    <div class="align-self-center">
                        <h2>Distinct</h2>
                        <a href="https://becomedistinct.com" target="_blank">becomedistinct.com</a>
                    </div>
                </div>
    
                <div class="align-self-center mx-3">
                    <button class="btn btn-primary">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <div class="d-flex justify-content-end">
            <select class="form-select rounded" style="width: 160px;" aria-label="Days">
                <option value="1">Yesterday</option>
                <option value="2" selected>Last 7 Days</option>
                <option value="3">Last Month</option>
            </select>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <div class="d-flex justify-content-between">
            <div class="card w-100 me-2">
                <div class="d-flex">
                    <img src="/img/eye.png" class="bg-primary p-3" style="width: 100px;" alt="Distinct Logo">
        
                    <div class="align-self-center ms-4">
                        <p>
                            <h4>1902</h4>
                            Total Page View
                        </p>
                    </div>
                </div>
            </div>
            <div class="card w-100 ms-2">
                <div class="d-flex">
                    <img src="/img/user-engagement.png" class="bg-primary p-3" style="width: 100px;" alt="Distinct Logo">
        
                    <div class="align-self-center ms-4">
                        <p>
                            <h4>2</h4>
                            Engagements
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>