<div class="row mt-2 mb-4">
    <div class="col">
        <div class="card px-3 py-3">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <img src="/img/distinct-logo.png" style="width: 100px;" alt="Distinct Logo">
        
                    <div class="align-self-center mb-3" style="line-height: 2px;">
                        <h2>Distinct</h2>
                        <a href="https://becomedistinct.com" target="_blank">becomedistinct.com</a>
                    </div>
                </div>
                <div class="align-self-center mx-3">
                    <button class="btn btn-primary" style="width: 120px;">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Dashboard</h2>

<div class="row mb-4">
    <div class="col">
        <div class="d-flex justify-content-end">
            <select class="form-select rounded" style="width: 160px;" aria-label="Days">
                <option value="1">Yesterday</option>
                <option value="2" selected>Last 7 Days</option>
                <option value="3">Last Month</option>
            </select>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div class="d-flex justify-content-between">
            <div class="card w-100 me-2">
                <div class="d-flex">
                    <img src="/img/eye.png" class="bg-primary p-3" style="width: 100px;" alt="Distinct Logo">
        
                    <div class="align-self-center ms-4">
                        <h4><strong>1902</strong></h4>
                        Total Page View
                    </div>

                    <div class="col align-self-center text-end me-4">
                        <i class='bx bxs-up-arrow' style="font-size: 10px; color: #13b955;"></i> 20%
                    </div>
                </div>
            </div>
            <div class="card w-100 ms-2">
                <div class="d-flex">
                    <img src="/img/user-engagement.png" class="bg-primary p-3" style="width: 100px;" alt="Distinct Logo">
        
                    <div class="align-self-center ms-4">
                        <h4><strong>2</strong></h4>
                        Engagements
                    </div>

                    <div class="col align-self-center text-end me-4">
                        <i class='bx bxs-up-arrow' style="font-size: 10px; color: #13b955;"></i> 100%
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col">
        <div class="w-100 bg-primary text-light py-3">
            <div class="lead ms-4">View Graph</div>
        </div>
        <div class="card w-100 p-4">
            <canvas id="statsChart" style="height: 1rem;"></canvas>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col px-4">
        <h5 class="mb-3"><strong>Form Response</strong></h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">SUBMISSION DATE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">EMAIL ADDRESS</th>
                    <th scope="col">MESSAGE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>06 June 2022</td>
                    <td>James Smith</td>
                    <td>jamessmith@testmail.com</td>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td class="text-end"><button class="btn btn-primary" style="width: 100px;">Open</button></td>
                </tr>
                <tr>
                    <td>07 June 2022</td>
                    <td>Jane Doe</td>
                    <td>janedoe@testmail.com</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing.</td>
                    <td class="text-end"><button class="btn btn-primary" style="width: 100px;">Open</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mb-5">
    <div class="col px-4 mb-3">
        <h5 class="mb-3"><strong>Activity Log</strong></h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">EVENT</th>
                    <th scope="col">USER</th>
                    <th scope="col">EMAIL ADDRESS</th>
                    <th scope="col">DATE & TIME</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Site Published</td>
                    <td>James Smith</td>
                    <td>jamessmith@testmail.com</td>
                    <td>06 June 2022 3:00pm</td>
                    <td class="text-end"><button class="btn btn-primary" style="width: 100px;">Open</button></td>
                </tr>
                <tr>
                    <td>Site Published</td>
                    <td>Jane Doe</td>
                    <td>janedoe@testmail.com</td>
                    <td>07 June 2022 9:25am</td>
                    <td class="text-end"><button class="btn btn-primary" style="width: 100px;">Open</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>