<div class="row">
    <div class="card py-2">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <img src="/img/distinct-logo.png" style="width: 100px;" alt="Distinct Logo">
    
                <div class="align-self-center">
                    <h2>Distinct</h2>
                    <a href="https://becomedistinct.com" target="_blank">becomedistinct.com</a>
                </div>
            </div>

            <div class="align-self-center mx-3">
                <button class="btn btn-primary">Edit Profile</button>
            </div>
        </div>
    </div>
</div>