<div class="row mt-2 mb-4">
    <div class="col">
        <div class="card px-3 py-3">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <img src="/img/distinct-logo.png" style="width: 100px;" alt="Distinct Logo">
        
                    <div class="align-self-center mb-3" style="line-height: 2px;">
                        <h2>Distinct</h2>
                        <a href="https://becomedistinct.com" target="_blank">becomedistinct.com</a>
                    </div>
                </div>
                <div class="align-self-center mx-3">
                    <button class="btn btn-primary" style="width: 120px;">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Projects</h2>

<div class="row mb-4">
    <div class="col">
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" style="width: 160px;"><i class='bx bx-plus'></i> Add Task</button>
        </div>
    </div>
</div>
